.form input[type='text'],
.form input[type='password'],
.form select,
.form textarea {
    padding: 8px;
    width: 100%;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: var(--default-border-radius);
    margin-bottom: 10px;
}
