body {
    background: var(--color-primary-dark);
}

.login {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 300px;
    background: #ffffff;
    padding: 25px;
    border-radius: var(--default-border-radius);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.login__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 100px;
}
