/* External */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

/* Local */
@import url('/css/normalize.css');
@import url('/css/form.css');

:root {
    --color-primary: #0088ff;
    --color-primary-light: #80c4ff;
    --color-primary-dark: #004480;
    --color-secondary: #ff8100;
    --color-secondary-light: #ffc080;
    --color-secondary-dark: #804000;
    --color-success-light: #D8E5D7;
    --color-success: #4bb543;
    --color-success-dark: #163514;
    --color-error-light: #ffe2e5;
    --color-error: #dc2538;
    --color-error-dark: #5c1018;
    --default-border-radius: 6px;
    --small-border-radius: 3px;
    --nav-height: 60px;
}

* {
    box-sizing: border-box;
}

html {
    margin: var(--nav-height) 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

.banner {
    max-width: 300px;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: var(--default-border-radius);
    background: #eeeeee;
    font-size: 0.9rem;
}

.banner--success {
    color: var(--color-success-dark);
    border-color: var(--color-success);
    background: var(--color-success-light);
}

.banner--error {
    color: var(--color-error-dark);
    border-color: var(--color-error);
    background: var(--color-error-light);
}

.button {
    padding: 10px 16px;
    color: #ffffff;
    font-weight: bold;
    background: var(--color-primary);
    outline: none;
    border: none;
    border-radius: var(--default-border-radius);
    transition: background-color 0.2s;
}

.button:active {
    background: var(--color-primary-dark);
}

.button--full-width {
    width: 100%;
}

.button--floating-submit {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    border: 15px solid #333333;
}

.button--success {
    background: var(--color-success);
}

.button--success:active {
    background: var(--color-success-dark);
}

.button--secondary {
    background: var(--color-secondary);
}

.button--secondary:active {
    background: var(--color-secondary-dark);
}

.button[disabled] {
    background: #eeeeee;
    color: #cccccc;
}

.button + .button {
    margin-top: 10px;
}

.header {
    width: 100%;
    height: var(--nav-height);
    background: var(--color-primary);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}

.header__button {
    background: none;
    color: #ffffff;
    border: none;
    outline: none;
    height: var(--nav-height);
    width: var(--nav-height);
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.navigation {
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    transform: translateX(-250px);
    z-index: 1;
    background: var(--color-primary-dark);
    border-right: 5px solid var(--color-primary);
    transition: transform 0.4s ease, box-shadow;
    will-change: transform, box-shadow;
}

.navigation.nav--open {
    transform: translateX(0);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
}

.navigation__link {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.navigation__link:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.navigation__link > span {
    color: #ffffff;
}

.navigation__link:not(.material-icons) {
    font-weight: bold;
}

.navigation__footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-size: 0.8rem;
    color: var(--color-primary);
}

.body-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}


h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

.multiselect__item {
    padding: 8px 10px;
    color: #aaaaaa;
    border: 1px solid #eeeeee;
    border-radius: var(--default-border-radius);
    font-weight: bold;
}

.multiselect__item:not(:last-of-type) {
    margin-bottom: 5px;
}

.multiselect__item--selected {
    border-color: var(--color-primary-dark);
    background: var(--color-primary);
    color: #ffffff;
    transition: background 0.2s, border-color 0.2s, color 0.2s;
}

.switchable {
    display: none;
}

.switchable--active {
    display: block;
}

.u-bold {
    font-weight: bold;
}

.u-italic {
    font-style: italic;
}

.u-no-border-radius {
    border-radius: 0;
}
