.recordscores__container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #eeeeee;
    border: 1px solid #dddddd;
    border-radius: var(--default-border-radius);
    margin-bottom: 15px;
}

.recordscores {
    border-radius: var(--default-border-radius);
    border: 1px solid var(--color-primary);
    overflow: hidden;
}

.recordscores:not(:last-of-type) {
    margin-right: 10px;
}

.recordscores__name {
    background: var(--color-primary);
    color: #ffffff;
    padding: 5px 12px;
    font-weight: bold;
}

.recordscores__input {
    border: none;
    padding: 1rem;
    width: 100%;
    outline: none;
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
}

.recordscores:nth-of-type(even) {
    border: 1px solid var(--color-secondary);
}

.recordscores:nth-of-type(even) .recordscores__name {
    background: var(--color-secondary);
}
